aiobotocore
aiohappyeyeballs
aiohttp
aiohttp-retry
aioitertools
aiosignal
alembic
amqp
annotated-types
antlr4-python3-runtime
anyio
appdirs
arrow
asttokens
async-timeout
asyncssh
atpublic
attrs
awscli
backoff
billiard
binaryornot
blinker
blis
boto3
botocore
cachetools
catalogue
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudpathlib
cloudpickle
colorama
comm
confection
configobj
contourpy
cookiecutter
cryptography
cycler
cymem
dacite
dagshub
dagshub-annotation-converter
databricks-sdk
dataclasses-json
debugpy
decorator
Deprecated
dictdiffer
diskcache
distro
docker
docutils
dotenv
dpath
dulwich
dvc
dvc-data
dvc-http
dvc-objects
dvc-render
dvc-s3
dvc-studio-client
dvc-task
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85

entrypoints
exceptiongroup
executing
filelock
Flask
flatten-dict
flufl.lock
fonttools
frozenlist
fsspec
funcy
gitdb
GitPython
google-auth
gql
grandalf
graphene
graphql-core
graphql-relay
greenlet
gto
h11
httpcore
httpx
huggingface-hub
hydra-core
idna
importlib_metadata
ipykernel
ipython
iterative-telemetry
itsdangerous
jedi
Jinja2
jmespath
joblib
jupyter_client
jupyter_core
kiwisolver
kombu
langcodes
language_data
lxml
Mako
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mlflow
mlflow-skinny
mpmath
multidict
murmurhash
mypy-extensions
nest-asyncio
networkx
nltk
numpy
omegaconf
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
packaging
pandas
parso
pathspec
pathvalidate
pillow
platformdirs
preshed
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydot
pygit2
Pygments
pygtrie
pyparsing
python-dateutil
python-dotenv
python-slugify
pytz
PyYAML
pyzmq
regex
requests
requests-toolbelt
rich
rsa
ruamel.yaml
ruamel.yaml.clib
s3fs
s3transfer
safetensors
scikit-learn
scipy
scmrepo
semver
shellingham
shortuuid
shtab
six
smart-open
smmap
sniffio
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
sqlparse
sqltrie
srsly
stack-data
sympy
tabulate
tenacity
text-unidecode
thinc
threadpoolctl
tokenizers
tomlkit
torch
tornado
tqdm
traitlets
transformers
treelib
typer
types-python-dateutil
typing-inspect
typing_extensions
tzdata
urllib3
vine
voluptuous
waitress
wasabi
wcwidth
weasel
Werkzeug
wordcloud
wrapt
xgboost
yarl
zc.lockfile
zipp
